<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>角色名称</th>
        <th>角色描述</th>
        <th class="right">操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="vo">
        <tr>
            <td>{$i}</td>
            <td><a href="#" data-toggle="tooltip" title=""
                   data-original-title="{$vo.name}">{$vo.name|mb_substr=0,10,'utf-8'}</a>
            </td>
            <td><a href="#" data-toggle="tooltip" title=""
                   data-original-title="{$vo.descript}">{$vo.descript|mb_substr=0,25,'utf-8'}</a>
            </td>
            <td colspan="2">
                <a href="#" class="btn btn-primary btn-sm"
                   data-url="{:U('grant?id='.$vo['id'])}" title="授权菜单"><i class="fa fa-key">Authority</i></a>
                <a href="#" class="btn btn-success btn-sm"
                   data-url="{:U('edit?id='.$vo['id'])}" title="编辑角色"><i
                        class="fa fa-pencil">Edit</i></a>
                <a href="#" class="btn btn-danger btn-sm" data-del="true"
                   data-name="{$vo.name}"
                   data-url="{:U('doDelete?id='.$vo['id'])}"
                   title="删除角色"><i
                        class="fa fa-trash">Delete</i></a>
            </td>
        </tr>
    </volist>
    </tbody>
</table>
<script>
    $(function () {
        $("table a").on("click", function (event) {
            var $this = $(this);
            var url = $this.attr("data-url");
            if (url == undefined || url == "") return;
            var del = $this.attr("data-del");
            if (del && del === "true") {
                $.confirm({
                    title: "用户角色操作提示",
                    text: "确定要删除角色[" + $this.attr("data-name") + "]吗？",
                    confirm: function (button) {
                        util.reloadContent(url, null, $("#refreshPanel"));
                    },
                    cancel: function (button) {
                        util.tips("取消删除角色操作。", "info");
                    },
                    confirmButton: "确定",
                    cancelButton: "取消"
                });
            } else {
                util.reloadContent(url, null, $("#panel"));
            }
        });
    });
</script>