<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" src="__IMG__/profile_small.jpg" />
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">张三</strong>
                </span>  <span class="text-muted text-xs block"><strong>超级管理员</strong><b class="caret"></b></span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
                <a href="#" data-url="@Url.Action("Info", "Admin")">个人资料</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" data-url="@Url.Action("Logout", "Home")">安全退出</a>
            </li>
        </ul>
    </div>
    <div class="logo-element">
        G
    </div>
</li>