<volist name="dataList" id="vo">
    <li>
        <a href="#" data-url="">
            <if condition="empty($vo['icon']) nheq true">
                <i class="{$vo.icon}" title="{$vo.menu_name}" style="width:20px;text-align: center"></i>
            </if>
            <span class="nav-label">{$vo.menu_name}</span>
            <if condition="count($vo['child_menu']) gt 0">
                <span class="fa arrow"></span>
            </if>
        </a>
        <if condition="count($vo['child_menu']) gt 0">
            <ul class="nav nav-second-level">
                <volist name="vo['child_menu']" id="voo">
                    <li>
                        <a href="#"
                           data-url="{:U($voo['like_list'][0].'/'.$voo['like_list'][1].'/'.$voo['like_list'][2])}">
                      <!--      <if condition="empty($voo['icon']) nheq true">
                                <i class="{$voo.icon}" title="{$voo.menu_name}"  style="width:20px;text-align: center"></i>
                            </if>-->
                            {$voo.menu_name}
                        </a>
                    </li>
                </volist>
            </ul>
        </if>
    </li>
</volist>
<script>
    $(function () {
        $(".nav-second-level li a").on('click', function (event) {
            event.preventDefault();
            $this = $(this);
            var url = $this.attr("data-url");
            if (url == undefined || url == "") return;
            util.reloadContent(url);
        });
    })
</script>