<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户管理</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <form action="{:U('content')}" id="user_search_form" data-ajax="true"
                                  data-ajax-update="#user_search_target">
                                <div class="input-group">
                                    <input type="text" id="name" name="name" class="input-sm form-control"
                                           placeholder="请输入用户名搜索"/>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-sm" id="user_search">搜索
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" id="user_search_target">
                    </div>
                </div>
                <div class="col-md-6" id="user_manager_target">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#user_search_form").submit();
    })

    function refresh(data) {
        $("#user_search_form").submit();
        if (data) {
            setTimeout(function () {
                $("#user_search_target").append("<div class='alert alert-warning text-center' role='alert'>" + data.message + "</div>")
                        .find(".alert alert-warning text-center")
                        .remove();
            }, 1500);
        }
    }
</script>

